<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sayt</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="photo.png" alt="">
                <span class="logoname">logo name</span>
            </div>
                <div class="searchbox">
                    <form id="formElement" action="/uform">
                        <input id="nameinputElement" type="text" placeholder="Name">
                        <input id="ageinputElement" type="number" placeholder="Age">
                       
                    </form >
                </div>
                <div class="navitem">
                    <div class="lang">
                        <select name="" id="kursElement">
                            <option value="">english</option>
                            <option value="">english</option>
                            <option value="">english</option>
                            <option value="">english</option>
                        </select>

                        <select name="" id="manbaElement">
                            <option value="">english</option>
                            <option value="">english</option>
                            <option value="">english</option>
                            <option value="">english</option>
                        </select>
                        <button class="btn">Read More</button>
                    </div>
                    
                </div>
                
        </div>
        <div class="body_main">
            <div class="sidebar">
                <button id="buttonStudents"> <span>STUDENTS</span></button>
                <button id="buttonCourses"> <span>COURSES</span></button>
                <button id="buttonSources"> <span>SOURCES</span></button>
            </div>
    
            <div class="main">
                <table>
                    <thead>
                        <tr>
                            <th>Ism Familiya</th>
                            <th>Yoshi</th>
                            <th>Kurs nomi</th>
                            <th>Manzili</th>
                            <th>delete</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyElement">
                        <!-- <tr>
                            <td>hjfrfusfk</td>
                            <td>knfsjfr</td>
                            <td>djvjsvsjdnc</td>
                            <td>djvjsvsjdnc</td>
                            <td> <button>remove</button></td>
                            
                        </tr> -->
                    </tbody>
                </table>

                <form id="formElement2" action="">
                    <input id="textinputElement" type="text">
                    <button id="addbuttonElement">Add</button>
                </form>

                <form id="formElement3" action="">
                    <input id="textinputElement2" type="text">
                    <button id="addbuttonElement2">Add</button>
                </form>
            </div>
        </div>
        

    </div>

   
    


   
    <script src="./main.js"></script>
</body>
</html>






  
