<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sayt</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="photo.png" alt="">
                <span class="logoname">logo name</span>
            </div>
                <div class="searchbox">
                    <form action="">
                        <input type="text" placeholder="search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </form>
                </div>
                <div class="navitem">
                    <div class="lang">
                        <select name="" id="">
                            <option value="">english</option>
                            <option value="">english</option>
                            <option value="">english</option>
                            <option value="">english</option>
                        </select>

                        <select name="" id="">
                            <option value="">english</option>
                            <option value="">english</option>
                            <option value="">english</option>
                            <option value="">english</option>
                        </select>
                        <a href="#" class="btn">Read More</a>
                    </div>
                    
                </div>
                
        </div>
        <div class="sidebar">
            <a href="#"> <span>Read More</span></a>
            <a href="#"> <span>Read More</span></a>
            <a href="#"> <span>Read More</span></a>
        </div>
    </div>

   
    


   
    <script src="./main.js"></script>
</body>
</html>