*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(-30deg, #33ccff, #81d5ff, #ffccff, #81d5ff);
}

.container{
    width: 80%;
    height: 85vh;
    background: rgba(255, 255, 255, .4);
}

.container .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    margin-top: 1em;
}

.container .navbar .logo{
    display: flex;
    align-items: center;
}

.container .navbar .logo img{
    width: 60px;
}

.container .navbar .logo .logoname{
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 1em;
}

.container .navbar .searchbox{
    position: relative;
}

.container .navbar .searchbox input{
    padding: 12px 120px 12px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 18px;
    transition: .3s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

.container .navbar .searchbox input:focus{
    padding: 12px 250px 12px 20px;
}

.container .navbar .searchbox .fa{
    position: absolute;
    top: 15px;
    right: 20px;
}

.container .navbar .navitem .lang select{
    padding: 10px 40px;
    margin-left: 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: white;
    position: relative;
    right: 4em;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

.btn{
    padding: 10px 30px;
    background: rgba(255, 255, 255, .4);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    border-radius: 30px;
    letter-spacing: 1px;
    transition: .5s;
}

.btn:hover{
    background: rgba(0, 255, 0, .5);
    color: #fff;
    
}


.container .sidebar{
    margin: 20px 0 20px 20px;
    background: rgba(0, 0, 0, .4);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
    width: 350px;
    height: 600px;
    border-radius: 30px;
    padding: 10px;
}

.sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;

}

.sidebar button{
    position: relative;
    display: inline-block;
    padding: 30px 60px;
    border: 2px solid #0f0;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-box-reflect: below 50px linear-gradient (transparent, #0002);
    transition: .5s;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background: none;
    transition-delay: 0s;
}

.sidebar button:hover{
    color: black;
    box-shadow: 0 0 10px #0f0,
    0 0 10px #0f0,
    0 0 20px #0f0,
    0 0 30px #0f0,
    0 0 40px #0f0;
}

.sidebar button:nth-child(2){
    filter: hue-rotate(80deg);
}

.sidebar button:nth-child(3){
    filter: hue-rotate(40deg);
}

.sidebar button span{
    position: relative;
    z-index: 100;
}

.sidebar button::after{
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: 5px -8px 0 #0f0,
                5px 8px 0 #0f0;
    transition: width .5s, left .5s, height .5s, box-shadow .5s;
    transition-delay: 1s, .5s, 0s, 0s;            
}

.sidebar button:hover::after{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #0f0,
                5px 0 0 #0f0;
    transition-delay: 0s, .5s, 1s, 1s;            

}




.sidebar button::before{
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #0f0;
    box-shadow: -5px -8px 0 #0f0,
                -5px 8px 0 #0f0;
    transition: width .5s, left .5s, height .5s, box-shadow .5s;
    transition-delay: 1s, .5s, 0s, 0s;            
}

.sidebar button:hover::before{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #0f0,
                -5px 0 0 #0f0;
    transition-delay: 0s, .5s, 1s, 1s;            

}
