*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(-30deg, #33ccff, #81d5ff, #ffccff, #81d5ff);
}

.container{
    width: 90%;
    height: 85vh;
    background: rgba(255, 255, 255, .4);
}